@import '../../stylus/index.styl'
.refreshContainer
  height: calc(100vh - 45px - 50px)
 .am-pull-to-refresh-content,
 .am-pull-to-refresh-content-wrapper
    min-height: 100%


.homeTabbarIcon
  width: 24px
  height: 24px

.am-navbar
  background: $color

.navbarLogo
  width: 91px
  height: 26px
  background: url(../../image/yilogo.png) no-repeat center / 100% 100%
