@import '../../stylus/index'
.innerContainer
  background: $bgColor
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  display: flex
  flex-direction: column

.innerContainerMain
  flex: 1
  &:not(.hidden)
    overflow-y: auto
    touch-action: pan-y
    -webkit-overflow-scrolling: touch
