@import '../../../stylus/index.styl'
.myContainerCounts
  background: $color2
  color: #ffffff
  padding-bottom: $spacing
  .nameAndBill
    display: flex
    justify-content: space-between
    padding: $spacing
    margin-bottom: $spacing
  .count,
  .desc
    text-align: center
    line-height: 1.25
  .count
    font-size: 30px

.myContainerBalanceAndControl
  background: #fff
  display: flex
  justify-content: space-between
  padding: $spacing
  margin-bottom: $space
  .tips
    color: #999
  .count
    color: #333333
    font-size: 20px
  .control
    display: flex
    align-items: center
  .btn
    font-size: 16px
    padding: $spacing
    border-radius: 4px
    color: #fff
    margin-left: $spacing
  .present
    background: $color2
  .recharge
    background: $color
