
.discoverContainer
  height: 100%
  display: flex
  flex-direction: column

.discoverTop
  height: 100px
  background: #fff
  width: 100%
  flex-shrink: 0

.discoverList
  flex: 1
  overflow-y: auto
  touch-action: pan-x pan-y
  -webkit-overflow-scrolling: touch

